listen-address=127.0.0.1,10.7.5.25
bind-interfaces
address=/app.abd.test/10.7.25.190
address=/api.abd.test/10.7.25.190
domain-needed
bogus-priv
server=1.1.1.1
server=8.8.8.8
log-queries
log-facility=/tmp/dnsmasq.log
